:root {
  --bg-primary: #c3c3b3;
  --bg-secondary: #e1cecc;
  --bg-peach: #efe1d4;
  --color-dark-0: #000;
  --gutter: 16px;
  --spacing: 32px;
  --body-font-family: 'Galaxie Copernicus', 'serif';
  --secondary-font-family: 'Inter', 'sans-serif';
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #000;
  --body-text-align: left;
  --body-bg: #c3c3b3;
}

@media (min-width: 600px) {
  :root {
    --gutter: 24px;
  }
}

@media (min-width: 900px) {
  :root {
    --gutter: 40px;
  }
}

@media (min-width: 1300px) {
  :root {
    --gutter: 60px;
  }
}

@font-face {
  font-family: 'Galaxie Copernicus';
  src: url("../fonts/GalaxieCopernicus-Book.woff2") format("woff2"), url("../fonts/GalaxieCopernicus-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/InterRegular.woff2") format("woff2"), url("../fonts/InterRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small,
.small {
  font-size: 0.875em;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-monospace);
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role='button'] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1680px;
  padding-left: calc(var(--gutter) * 2);
  padding-right: calc(var(--gutter) * 2);
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--gutter) * -0.5);
  margin-left: calc(var(--gutter) * -0.5);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter) * 0.5);
  padding-left: calc(var(--gutter) * 0.5);
}

.col {
  flex: 1 0 0%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

@media (min-width: 1300px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .order-lg-0 {
    order: 0;
  }
}

h2 {
  font-size: 1.563rem;
  line-height: 0.95;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 1300px) {
  h2 {
    font-size: 3.938rem;
    line-height: 0.9;
    margin-bottom: 2rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-family: var(--body-font-family);
  font-weight: 400;
}

@media (min-width: 1300px) {
  h4 {
    font-size: 2.938rem;
    line-height: 1;
    letter-spacing: -0.03rem;
  }
}

h5 {
  font-size: 0.875rem;
  line-height: 0.95;
  letter-spacing: 0.01rem;
  font-family: var(--secondary-font-family);
  font-weight: 700;
}

@media (min-width: 1300px) {
  h5 {
    font-size: 1.75rem;
    line-height: 0.9;
    letter-spacing: 0;
  }
}

.p-primary {
  font-size: 1rem;
  line-height: 1.2;
  font-family: var(--body-font-family);
  font-weight: 400;
  margin-bottom: 1rem;
}

@media (min-width: 1300px) {
  .p-primary {
    font-size: 1.688rem;
    line-height: 1.2;
    letter-spacing: -0.01rem;
    margin-bottom: 2rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark-0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 1300px) {
  .btn {
    font-size: 1.688rem;
    line-height: 1.5;
    padding: 1rem 2rem;
  }
}

.btn:hover {
  color: var(--color-dark-0);
  box-shadow: inset 0 0 0 0.125rem var(--color-dark-0);
}

.btn:focus {
  outline: 0;
  box-shadow: inset 0 0 0 0.125rem var(--color-dark-0);
}

.btn-primary {
  color: var(--color-dark-0);
  background-color: var(--bg-peach);
  border-color: var(--bg-peach);
}

.btn-primary:hover {
  color: var(--color-dark-0);
  box-shadow: none;
}

.btn-primary:hover span {
  right: 0.25rem;
}

.btn-primary:hover svg {
  left: 0.25rem;
}

.btn-primary:focus {
  outline: 0;
  box-shadow: inset 0 0 0 0.125rem var(--color-dark-0);
}

.btn-primary svg {
  margin-left: 0.5rem;
  position: relative;
  left: 0;
  transition: left 0.15s ease-in-out;
}

.btn-primary span {
  position: relative;
  right: 0;
  transition: right 0.15s ease-in-out;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

hr.divider {
  background: var(--bg-peach);
  height: 10px;
  margin: 1rem 0;
  opacity: 1;
}

@media (min-width: 1300px) {
  hr.divider {
    height: 6px;
    margin: 2rem 0;
  }
}

.section {
  padding: 3.5rem 0;
}

@media (min-width: 1300px) {
  .section {
    padding: 7.5rem 0;
  }
}

.section .svg-title {
  width: 90.9%;
  margin-bottom: -2.5%;
  height: auto;
  display: block;
}

.section .svg-title.align-right {
  margin-left: auto;
}

.section-resources {
  background-color: var(--bg-secondary);
}

.section--title {
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.members--info {
  padding-bottom: 1rem;
}

@media (min-width: 1300px) {
  .members--info {
    padding-bottom: 5.5rem;
  }
}

.members--info .image-holder {
  border: 6px solid var(--color-dark-0);
  margin-bottom: 0;
  position: relative;
}

@media (min-width: 1300px) {
  .members--info .image-holder {
    border-width: 12px;
  }
}

.members--info .image-holder:after {
  content: '';
  display: block;
  padding-top: 75%;
}

@media (min-width: 1300px) {
  .members--info .image-holder:after {
    padding-top: 100%;
  }
}

.members--info .image-holder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.members--info_text {
  padding: 1rem 0;
}

@media (min-width: 1300px) {
  .members--info_text {
    padding: 2rem 0;
  }
}

.member--list {
  padding-top: 2rem;
}

.member--list_wrap {
  display: flex;
  flex-direction: row;
}

.member--list_wrap .owl-stage-outer {
  overflow: visible;
}

.member--list_card {
  background: var(--bg-peach);
  max-width: 480px;
  display: flex;
  flex-direction: column;
  height: 196px;
}

@media (min-width: 1300px) {
  .member--list_card {
    height: 520px;
  }
}

.member--list_card .header {
  padding: 1rem;
  flex: 1;
}

@media (min-width: 1300px) {
  .member--list_card .header {
    padding: 2rem;
  }
}

.member--list_card .title {
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .member--list_card .title {
    margin-bottom: 0.75rem;
  }
}

.member--list_card .meta {
  display: block;
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .member--list_card .meta {
    margin-bottom: 0.75rem;
  }
}

.member--list_card .body {
  height: 50%;
}

.member--list_card figure {
  margin-bottom: 0;
  height: 100%;
}

.member--list_card figure img {
  object-fit: cover;
  height: 100%;
}

.resources--info {
  padding-bottom: 1rem;
}

@media (min-width: 1300px) {
  .resources--info {
    padding-bottom: 5.5rem;
  }
}

.resources--info .image-holder {
  border: 6px solid var(--color-dark-0);
  margin-bottom: 0;
  position: relative;
}

@media (min-width: 1300px) {
  .resources--info .image-holder {
    border-width: 12px;
  }
}

.resources--info .image-holder:after {
  content: '';
  display: block;
  padding-top: 75%;
}

@media (min-width: 1300px) {
  .resources--info .image-holder:after {
    padding-top: 100%;
  }
}

.resources--info .image-holder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resources--info_text {
  padding: 2rem 0;
}

@media (min-width: 1300px) {
  .resources--info_text {
    padding: 2rem 0;
  }
}

.resources--categories {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1300px) {
  .resources--categories {
    padding-bottom: 5.5rem;
    padding-top: 2rem;
  }
}

.categories--list_wrap {
  display: flex;
  flex-direction: row;
}

.categories--list_wrap .owl-stage-outer {
  overflow: visible;
}

.categories--list_card {
  background: var(--bg-peach);
  max-width: 480px;
  display: flex;
  flex-direction: column;
  height: 196px;
}

@media (min-width: 1300px) {
  .categories--list_card {
    height: 520px;
  }
}

.categories--list_card .header {
  padding: 1rem;
  flex: 1;
}

@media (min-width: 1300px) {
  .categories--list_card .header {
    padding: 2rem;
  }
}

.categories--list_card .title {
  text-transform: uppercase;
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .categories--list_card .title {
    margin-bottom: 0.75rem;
  }
}

.categories--list_card .meta {
  display: block;
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .categories--list_card .meta {
    margin-bottom: 0.75rem;
  }
}

.categories--list_card .body {
  height: 50%;
}

.categories--list_card figure {
  margin-bottom: 0;
  height: 100%;
}

.categories--list_card figure img {
  object-fit: cover;
  height: 100%;
}

.resources--featured {
  padding-top: 2rem;
}

.resources--list_wrap {
  display: flex;
  flex-direction: row;
}

.resources--list_wrap .meta {
  margin-bottom: 0.75rem;
}

.resources--list_card {
  max-width: 440px;
}

.resources--list_card.alt {
  border-top: 6px solid var(--color-dark-0);
  padding-top: 0.5rem;
}

@media (min-width: 1300px) {
  .resources--list_card.alt {
    padding-top: 1rem;
    border-top-width: 12px;
  }
}

.resources--list_card figure {
  margin: 0;
  border: 6px solid var(--color-dark-0);
  margin-bottom: 1rem;
  position: relative;
}

@media (min-width: 1300px) {
  .resources--list_card figure {
    border-width: 12px;
  }
}

.resources--list_card figure:after {
  content: '';
  display: block;
  padding-top: 66.66%;
}

@media (min-width: 1300px) {
  .resources--list_card figure:after {
    padding-top: 75%;
  }
}

.resources--list_card figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resources--list_card figure svg {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 32px;
  height: auto;
}

@media (min-width: 1300px) {
  .resources--list_card figure svg {
    left: 40px;
    bottom: 40px;
    width: 64px;
  }
}

.resources--list_card .title {
  margin-bottom: 0;
}

.resources--list_card .badge {
  text-transform: uppercase;
  padding: 0.25rem 0.175rem 0.175rem;
  font-size: 0.625rem;
  line-height: 0.7;
  background-color: var(--bg-peach);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1300px) {
  .resources--list_card .badge {
    font-size: 0.875rem;
    padding: 0.5rem 0.375rem 0.375rem;
  }
}

.resources--list_card .time {
  text-transform: uppercase;
  padding: 0.25rem 0.175rem 0.175rem;
  font-size: 0.625rem;
  line-height: 0.7;
}

@media (min-width: 1300px) {
  .resources--list_card .time {
    font-size: 0.875rem;
    padding: 0.5rem 0.375rem 0.375rem;
  }
}
/*# sourceMappingURL=all.css.map */