@font-face {
  font-family: 'Galaxie Copernicus';
  src: url('../fonts/GalaxieCopernicus-Book.woff2') format('woff2'),
    url('../fonts/GalaxieCopernicus-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/InterRegular.woff2') format('woff2'), url('../fonts/InterRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
